com.akamon.slots.xmlmodel/src/com/akamon/slots/xmlmodel/AkamonSlotsGameConfigData.xsd

<?xml version="1.0" encoding="utf-8"?>
<xs:schema targetNamespace="http://www.akamon.com/slots/gameconfigdata.xsd"
    elementFormDefault="qualified"
    xmlns="http://www.akamon.com/slots/gameconfigdata.xsd"
    xmlns:xs="http://www.w3.org/2001/XMLSchema"
     >

  <xs:complexType name="Coord">
    <xs:attribute name="x" type="xs:int" use="required"/>
    <xs:attribute name="y" type="xs:int" use="required"/>
  </xs:complexType>

  <xs:complexType name="BetClass">
    <xs:attribute name="basebet" type="xs:int" use="required"/>
    <xs:attribute name="betMultList" type="xs:string" use="required"/>
  </xs:complexType>
  
  <xs:complexType name="Symbol" abstract="true">
    <xs:attribute name="name" type="xs:string" use="required"/>
  </xs:complexType>
  
    <xs:complexType name="NaturalSymbol">
      <xs:complexContent>
        <xs:extension base="Symbol"/>
      </xs:complexContent>
    </xs:complexType>

  <xs:complexType name="SymbolClassPlaceHolder">
    <xs:complexContent>
      <xs:extension base="Symbol">
        <xs:attribute name="type" use="required">
          <xs:simpleType>
            <xs:restriction base="xs:string">
              <xs:enumeration value="Include"/>
              <xs:enumeration value="Exclude"/>
            </xs:restriction>
          </xs:simpleType>
        </xs:attribute>
      </xs:extension>
    </xs:complexContent>
  </xs:complexType>

  <xs:complexType name="SymbolClass">
    <xs:complexContent>
      <xs:extension base="Symbol">
        <xs:sequence>
          <xs:element name="ComponentSymbol" minOccurs="1" maxOccurs="unbounded">
            <xs:complexType>
              <xs:attribute name="symbolname" type="xs:string" use="required"/>
            </xs:complexType>
          </xs:element>
        </xs:sequence>
      </xs:extension>
    </xs:complexContent>
  </xs:complexType>

  <xs:complexType name="SubstitutionScheme">
    <xs:sequence>
      <xs:element name="Symbol" type="Symbol" minOccurs="0" maxOccurs="unbounded"/>
    </xs:sequence>
    <xs:attribute name="name" type="xs:string" use="required"/>
    <xs:attribute name="default" type="xs:boolean" use="optional"/>
  </xs:complexType>
  
  <xs:complexType name="SymbolSet">
    <xs:sequence>
      <xs:element name="NaturalSymbol" minOccurs="0" maxOccurs="63" type="NaturalSymbol"/>
      <xs:element name="SymbolClassName" minOccurs="0" maxOccurs="unbounded" type="SymbolClassPlaceHolder"/>
      <xs:element name="SubstitutionScheme" minOccurs="1" maxOccurs="unbounded" type="SubstitutionScheme"/>
    </xs:sequence>
    <xs:attribute name="name" type="xs:string" use="required"/>
  </xs:complexType>

  <xs:complexType name="WeightedList">
    <xs:sequence>
      <xs:element name="Item" minOccurs="1" maxOccurs="unbounded">
        <xs:complexType>
          <xs:attribute name="index" type="xs:int" use="optional"/>
          <xs:attribute name="value" type="xs:string" use="required"/>
          <xs:attribute name="weight" type="xs:int" use="required"/>
        </xs:complexType>
      </xs:element>
    </xs:sequence>
    <xs:attribute name="name" use="required"/>
  </xs:complexType>

  <xs:complexType name="Reel">
    <xs:complexContent>
      <xs:extension base="WeightedList">
      </xs:extension>
    </xs:complexContent>
  </xs:complexType>

  <xs:complexType name="ReelGrid">
    <xs:sequence>
      <xs:element name="GridMappingList" minOccurs="1" maxOccurs="1">
        <xs:complexType>
          <xs:sequence>
            <xs:element name="GridMapping" minOccurs="0" maxOccurs="unbounded">
              <xs:complexType>
                <xs:sequence>
                  <xs:element name="Coord" type="Coord" maxOccurs="1" minOccurs="1"/>
                </xs:sequence>
                <xs:attribute name="Reel" type="xs:string" use="required"/>
                <xs:attribute name="offset" type="xs:int" use="optional" default="0"/>
              </xs:complexType>
            </xs:element>
          </xs:sequence>
        </xs:complexType>
      </xs:element>
      <xs:element name="Reel" minOccurs="1" maxOccurs="unbounded" type="Reel"/>
    </xs:sequence>
    <xs:attribute name="name" type="xs:string" use="required"/>
    <xs:attribute name="SymbolSet" type="xs:string" use="required"/>
  </xs:complexType>

  <xs:complexType name="SymbolWinElement">
    <xs:attribute name="Symbol" type="xs:string" use="required"/>
    <xs:attribute name="Count" type="xs:int" use="optional"/>
    <xs:attribute name="Index" type="xs:int" use="optional"/>
  </xs:complexType>

  <xs:complexType name="Trigger">
      <xs:sequence>
        <xs:element name="Arg" minOccurs="0" maxOccurs="unbounded">
          <xs:complexType>
            <xs:attribute name="name" type="xs:string" use="required"/>
            <xs:attribute name="value" type="xs:string" use="required"/>
          </xs:complexType>
        </xs:element>
      </xs:sequence>
      <xs:attribute name="name" type="xs:string" use="required"/>
  </xs:complexType>

  <xs:complexType name="WinCombination">
    <xs:sequence>
      <xs:element name="SymbolWinElement" minOccurs="0" maxOccurs="unbounded" type="SymbolWinElement"/>
      <xs:element name="Trigger" minOccurs="0" maxOccurs="unbounded" type="Trigger"/>
    </xs:sequence>
    <xs:attribute name="basepay" type="xs:int" use="optional"/>
    <xs:attribute name="sortpriority" type="xs:int" use="optional"/>
    <xs:attribute name="name" use="required" type="xs:string"/>
    <xs:attribute name="payMultiplicationType" use="required">
      <xs:simpleType>
        <xs:restriction base="xs:string">
          <xs:enumeration value="BetMult"/>
          <xs:enumeration value="TotalBet"/>
          <xs:enumeration value="None"/>
        </xs:restriction>
      </xs:simpleType>
    </xs:attribute>
  </xs:complexType>

  <xs:complexType name="WinCombinationSet">
    <xs:sequence>
      <xs:element name="WinCombination" type="WinCombination" minOccurs="0" maxOccurs="unbounded"/>
    </xs:sequence>
    <xs:attribute name="name" use="required"/>
    <xs:attribute name="SymbolSetUsed" use="required"/>
  </xs:complexType>

  <xs:complexType name="EvaluationPattern">
    <xs:sequence>
      <xs:element name="Coord" type="Coord" minOccurs="0" maxOccurs="unbounded"/>
    </xs:sequence>
    <xs:attribute name="name" type="xs:string" use="required"/>
    <xs:attribute name="EvaluationType" use="required">
      <xs:simpleType>
        <xs:restriction base="xs:string">
          <xs:enumeration value="Payline"/>
          <xs:enumeration value="Ways"/>
          <xs:enumeration value="ScatterAny"/>
        </xs:restriction>
      </xs:simpleType>
    </xs:attribute>
  </xs:complexType>

  <xs:complexType name="EvaluationPatternSet">
    <xs:sequence>
      <xs:element name="IncludeEvaluationPattern" minOccurs="0" maxOccurs="unbounded">
        <xs:complexType>
          <xs:attribute name="EvaluationPatternName" type="xs:string" use="required"/>
        </xs:complexType>
      </xs:element>
    </xs:sequence>
    <xs:attribute name="name" use="required"/>
  </xs:complexType>

  <xs:complexType name="EvaluationPatternWinKVP">
    <xs:sequence>
      <xs:element name="WinCombinationSetUsed" minOccurs="1" maxOccurs="unbounded">
        <xs:complexType>
          <xs:attribute name="WinCombinationSetName" type="xs:string" use="required"/>
        </xs:complexType>
      </xs:element>
    </xs:sequence>
    <xs:attribute name="EvaluationPatternSetName" type="xs:string" use="required"/>
  </xs:complexType>

  <xs:complexType name="BetEvaluationKVP">
    <xs:sequence>
      <xs:element name="BetClass" type="BetClass" minOccurs="1" maxOccurs="1"/>
      <xs:element name="ReelGridMapping" minOccurs="1" maxOccurs="unbounded">
        <xs:complexType>
          <xs:sequence>
            <xs:element name="EvaluationPatternWinKVP" type ="EvaluationPatternWinKVP" minOccurs="0" maxOccurs="unbounded"/>
          </xs:sequence>
          <xs:attribute name="ReelGrid" type="xs:string" use="required"/>
        </xs:complexType>
      </xs:element>
    </xs:sequence>
  </xs:complexType>

  <xs:complexType name="BetEvaluationMap">
    <xs:sequence>
      <xs:element name="BetEvaluationKVP" type="BetEvaluationKVP" minOccurs="0" maxOccurs="unbounded"/>
    </xs:sequence>
    <xs:attribute name="name" type="xs:string" use="required"/>
  </xs:complexType>

  <xs:complexType name="GameConfigData">
    <xs:sequence>
      <xs:element name="SymbolSetsList" minOccurs="1" maxOccurs="1">
        <xs:complexType>
          <xs:sequence>
            <xs:element name="SymbolSet" type="SymbolSet" minOccurs="0" maxOccurs="unbounded"/>
          </xs:sequence>
        </xs:complexType>
      </xs:element>
      <xs:element name="ReelGridsList" minOccurs="1" maxOccurs="1">
        <xs:complexType>
          <xs:sequence>
            <xs:element name="ReelGrid" type="ReelGrid" minOccurs="0" maxOccurs="unbounded"/>
          </xs:sequence>
        </xs:complexType>
      </xs:element>
      <xs:element name="WinCombinationSetList" minOccurs="1" maxOccurs="1">
        <xs:complexType>
          <xs:sequence>
            <xs:element name="WinCombinationSet" minOccurs="0" maxOccurs="unbounded" type="WinCombinationSet"/>
          </xs:sequence>
        </xs:complexType>
      </xs:element>
      <xs:element name="EvaluationPatternList" minOccurs="1" maxOccurs="1">
        <xs:complexType>
          <xs:sequence>
            <xs:element name="EvaluationPattern" type="EvaluationPattern" minOccurs="0" maxOccurs="unbounded"></xs:element>
          </xs:sequence>
        </xs:complexType>
      </xs:element>
      <xs:element name="EvaluationPatternSetList" minOccurs="1" maxOccurs="1">
        <xs:complexType>
          <xs:sequence>
            <xs:element name="EvaluationPatternSet" type="EvaluationPatternSet" minOccurs="0" maxOccurs="unbounded"/>
          </xs:sequence>
        </xs:complexType>
      </xs:element>
      <xs:element name="BetEvaluationMapList" minOccurs="1" maxOccurs="1">
        <xs:complexType>
          <xs:sequence>
            <xs:element name="BetEvaluationMap" type="BetEvaluationMap" minOccurs="0" maxOccurs="unbounded"/>
          </xs:sequence>
        </xs:complexType>
      </xs:element>
      <xs:element name="WeightedLists" minOccurs ="1" maxOccurs="1">
        <xs:complexType>
          <xs:sequence>
            <xs:element name="WeightedList" type="WeightedList" minOccurs="0" maxOccurs="unbounded"/>
          </xs:sequence>
        </xs:complexType>
      </xs:element>
    </xs:sequence>
    <xs:attribute name="RTP" type="xs:string" use="required"/>
    <xs:attribute name="VersionName" type="xs:string" use="required"/>
    <xs:attribute name="DateCreated" type="xs:dateTime" use="required"/>
  </xs:complexType>

  <xs:element name="GameConfigData" type="GameConfigData"></xs:element>
</xs:schema>
